:root{
    --primary-color:#3734A9;
    --heading-color:#000;
    --text-color:#757095;
    --white-color:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-wrapper{
    width: 100%;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
.ml-0{
    margin-left: 0 !important;
}
.mr-0{
    margin-right: 0 !important;
}
a, a:hover{
    text-decoration: none;
}
.navbar{
    height: 52px;
    display: flex;
}
.navbar .logo{
    height: 52px;
    width: 200px;

}
.navbar .logo img{
    margin-top: 41px;
}
.navbar .menu{
    height: 52px;
    width: 600px;

}
.navbar .menu ul{
    margin-left: 183px;
}
.navbar .menu ul li{
    list-style-type: none;
    display: inline-block;
    margin-top: 47px;
    margin-left: 39px;
}
.navbar .menu ul li a{
    font-family: 'Manrope';
    color: var(--heading-color);
    font-size: 14px;
    font-weight: 400;
}
.navbar .menu ul li a i{
    margin: 7px auto 7px 12px
}

.navbar .nav-button{
    height: 100px;
    width: 370px;

    text-align: right;
}
.navbar .nav-button .signin-btn{
    color: var(--heading-color);
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    margin-top: 47px;
    margin-right: 47px;
}
.navbar .nav-button .signup-btn{
    border: 0;
    padding: 17px 35px;
    border-radius: 7px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.banner{
    display: flex;
}
.banner .banner-left{
    padding-top: 173px;
    width: 570px;

}
.banner .banner-left .banner-text h1{
    color: var(--heading-color);
    font-family: 'Manrope';
    font-size: 60px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -0.03em;
}
.banner .banner-left .banner-text p{
    color: var(--text-color);
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    margin-top: 22px;
}
.banner .banner-left .banner-btn .s-btn .started-btn{
    margin-top: 26px;
    border: 0;
    padding: 15px 35px;
    border-radius: 47px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.banner .banner-left .banner-btn{
    display: flex;
}
.banner .banner-left .banner-btn .s-btn{
    float: left;
    margin-right: 50px;
}
.banner .banner-left .banner-btn .play-icon{
    margin-top: 26px;
    margin-right: 11px;
}
.banner .banner-left .banner-btn .w-btn{
    margin-top: 40px;
}
.banner .banner-left .banner-btn .w-btn .works-btn{
    background: transparent;
    border: 0;
    color: var(--primary-color);
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: -0.02em;
}

.banner .banner-right{
    width: 600px;
    padding-top: 77px;
}
.banner .banner-right .banner-image img{
    width: 100%;
}
.brand{
    margin-top: 71px;
    margin-bottom: 94px;
}
.brand .brand-text h5{
    color: var(--heading-color);
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 36px;
}
.brand .brand-image{
    width: 1070px;  
    margin: 0 auto;
}
.brand .brand-image img{
    margin-right: 44px;
}
.payment{
    display: flex;
}
.payment .payment-left{
    width: 600px;
}
.payment .payment-left img{
    width: 100%;
    margin-top: 19px;
}
.payment .payment-right{
    width: 570px;
}
.payment .payment-right h5{
    margin-bottom: 25px;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Manrope';
    text-transform: uppercase;
}
.payment .payment-right h3{
    margin-bottom: 36px;
    color: var(--heading-color);
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.03em;
    font-size: 50px;   
}
.payment .payment-right p{
    margin-bottom: 27px;
    color: var(--text-color);
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.payment .payment-right .started-btn{
    border-radius: 7px;
    color: var(--white-color);
    padding: 15px 35px;
    background-color: var(--primary-color);
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
}
.cta{
    display: flex;
    border-radius: 20px;
    background-color: #F3F7FA;
    position: relative;
    z-index: 4;
}
.cta .cta-left{
    width: 600px;
}
.cta .cta-left .cta-text{
    width: 530px;
    padding-top: 76px;
    padding-bottom: 74px;
    margin-left: 68px;
}
.cta .cta-left .cta-text h5{
    margin-bottom: 25px;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Manrope';
    text-transform: uppercase;
}
.cta .cta-left .cta-text h3{
    margin-bottom: 36px;
    color: var(--heading-color);
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.03em;
    font-size: 50px;
}
.cta .cta-left .cta-text p{
    margin-bottom: 27px;
    color: var(--text-color);
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.cta .cta-right{
    width: 570px;
}
.cta .cta-right .cta-form{
    margin-left: 102px;
    margin-top: 76px;
}
.cta .cta-right .cta-form h4{
    color: var(--primary-color);
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
    margin-bottom: 22px;
}
.cta .cta-right .cta-form input{
    height: 60px;
    width: 356px;
    border:none;
    border-radius: 5px;
    margin-bottom: 24px;
    background-color: var(--white-color);
}
.cta .cta-right .cta-form input::placeholder{
    color: var(--text-color);
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 22px;
}
.cta .cta-right .cta-form input:focus{
    outline: none;
}
.cta .cta-right .cta-form button{
    padding: 16px 125px;
    background-color: #FF7F5C;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0px 67px 80px rgba(255, 127, 92, 0.07), 0px 43.4259px 46.8519px rgba(255, 127, 92, 0.0531481), 0px 25.8074px 25.4815px rgba(255, 127, 92, 0.0425185), 0px 13.4px 13px rgba(255, 127, 92, 0.035), 0px 5.45926px 6.51852px rgba(255, 127, 92, 0.0274815), 0px 1.24074px 3.14815px rgba(255, 127, 92, 0.0168519);
}
.cta .cta-right .cta-shape {
    position: absolute;
    top: -19px;
    right: 5px;
    z-index: 5;
}
.feature{
    display: flex;
}
.feature .feature-left{
    width: 579px;
    margin-top: 173px;
}
.feature .feature-left .feature-text h5{
    margin-bottom: 25px;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Manrope';
    text-transform: uppercase;
}
.feature .feature-left .feature-text h3{
    margin-bottom: 26px;
    color: var(--heading-color);
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.03em;
    font-size: 50px;
    max-width: 542px;
}
.feature .feature-left .feature-text p{
    margin-bottom: 27px;
    color: var(--text-color);
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
}
.feature .feature-left .feature-btn{
    border: 0;
    border-radius: 7px;
    color: var(--white-color);
    padding: 15px 35px;
    background-color: var(--primary-color);
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
}

.feature .feature-right{
    width: 564px;
    margin-top: 98px;
}
.feature .feature-right img{
    width: 100%;
}
.testomonial{

}
.testomonial .testomonial-title{

}
.testomonial .testomonial-title h4{
    color: var(--primary-color);
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.02em;
}
.testomonial .testomonial-title h3{
    color: var(--heading-color);
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.03em;
    max-width: 324px;
}
.testomonial .slider-left{

}
.testomonial .slider-left .image-card{

}
.testomonial .slider-left .image-card .reviewer-info{

}
.testomonial .slider-left .image-card .reviewer-info h5{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: var(--heading-color);
}
.testomonial .slider-left .image-card .reviewer-info p{
    font-family: 'Manrope';
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
}
.testomonial .slider-left .image-card .reviewer-brand{

}
.testomonial .slider-right{

}